/* header.component.scss */

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
      
  
    .logo {
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
    }
  
    nav {
      display: flex;
  
      a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
        margin: 0 10px;
  
        &:hover {
          background-color: #555;
        }
      }
    }
  }
  