// employee-form.component.scss

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  h2 {
    color: #333;
    margin-bottom: 20px;
  }

  h4 {
    color: #555;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;

    img {
      max-width: 100%;
      max-height: 200px; // Adjust the max height as needed
      margin-bottom: 15px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    input[type="file"] {
      margin-bottom: 25px;
    }

    .form-group {
      margin-bottom: 20px;

      label {
        font-weight: bold;
        margin-bottom: 5px;
        color: #000; // Label color set to black
      }

      input[type="text"] {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;

        &:focus {
          outline: none;
          border-color: #428bca;
        }
      }

      div {
        color: #d9534f; // Error message color set to red
        margin-top: 5px;

        div {
          margin-top: 5px;
        }
      }
    }

    button {
      padding: 10px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      border-radius: 4px;

      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}

.firstbutton, .secondbutton {
  padding: 10px;
  margin-bottom: 6px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

.firstbutton {
  background-color: #5cb85c; // Update button color
  color: #fff; // Update button text color

  &:hover {
    background-color: #4cae4c; // Hover color
  }
}

.secondbutton {
  background-color: #007bff; // Updated Back button color
  color: #fff; // Back button text color

  &:hover {
    background-color: #0056b3; // Updated Hover color
  }
}
