<div class="container">
  <h2>Update Employee</h2>
  <h4>{{message}}</h4>
  <form #update="ngForm" (ngSubmit)="up(update.value)" novalidate>
    <div class="form-group">
      <img [src]="imagebaseurl + employee?.image" alt="Current Employee Image" class="current-image"><br />
      <input type="file" accept="image/*" (change)="fileselected($event)">
      <br>
      <label for="employeeName">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter employee name"
             name="name" required [(ngModel)]="employee.name" minlength="3" maxlength="50">
      <div *ngIf="update.controls['name'].invalid && (update.controls['name'].dirty || update.controls['name'].touched)">
        <div *ngIf="update.controls['name'].hasError('required')">Name is required.</div>
        <div *ngIf="update.controls['name'].hasError('minlength')">Name must be at least 3 characters.</div>
        <div *ngIf="update.controls['name'].hasError('maxlength')">Name cannot exceed 50 characters.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="department">Department:</label>
      <input type="text" class="form-control" id="department" placeholder="Enter department"
             name="department" required [(ngModel)]="employee.department" minlength="3" maxlength="50">
      <div *ngIf="update.controls['department'].invalid && (update.controls['department'].dirty || update.controls['department'].touched)">
        <div *ngIf="update.controls['department'].hasError('required')">Department is required.</div>
        <div *ngIf="update.controls['department'].hasError('minlength')">Department must be at least 3 characters.</div>
        <div *ngIf="update.controls['department'].hasError('maxlength')">Department cannot exceed 50 characters.</div>
      </div>
    </div>
    <button type="submit" class="firstbutton btn btn-success">update</button>
    <a class="secondbutton btn btn-primary" routerLink="/employeelist">back</a>
  </form>
</div>
